@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  padding: 16px 14%;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.nav-bar,
.nav-links {
  display: flex;
}
.nav-links {
  list-style: none;
  gap: 16px;
}

.nav-bar {
  justify-content: space-between;
  margin-bottom: 50px;
}
.hero-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-content p,
a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
#head-article {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto 0;
}
figure {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.hero-content button {
  display: inline-block;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
}

figure .hero-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.about-heading h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #1f2937;
  margin: 36px 0;
}
.about {
  min-height: 70vh;
}
.cat-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin: 32px 0 60px 0;
}
.gallery {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  gap: 16px;
}

.cat-image {
  width: 250px;
  height: 250px;
  overflow: auto;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* <--------Qoute section--------> */

.qoute {
  min-height: 55vh;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qoute-container {
  width: 60%;
  font-size: 36px;
  color: #1f2937;
}
.qoute-para {
  font-style: italic;
}
.qouter {
  text-align: right;
  font-size: 26px;
}
